.wrap {
    font-family: 'Signika Negative', sans-serif;
    text-align: center;
}
.wrap a {
    text-align: justify;
}
h1 {
    font-size: 60px;
}
body {
    background: lightgoldenrodyellow;
}
ul {
    display: none;
    list-style: none;
}
p a {
    text-decoration: none;
}
ul li a {
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    color: rgb(83, 83, 83);
    line-height: 200%;

}
.btn a {
    list-style: none;
    font-size: 30px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    line-height: 200%;
}
.btn {
    background-color: lightcoral;
    width: 350px;
    border-radius: 50%;
    margin-left: 1100px;
}
